body {
    color: red;
    }
.black-border{
    border: 5px solid black;
}
#green-background {
    background-color: green;
}
main {
    color: black;
}
footer{
    color: black;
}
#blauw maken {
    color: blue;
}